@media print {
   
    .no-print {
        display: none!important;
    }

    .printed{
        display: block!important;
    }
    .page-wrapper {
        padding: 0px !important;
        margin: 0px !important;
    }

    .content-wrapper, .content {
        padding: 0px !important;
    }

    .content-wrapper {
        margin: 0px !important;
    }
    .content {
        border:none!important;
    }
    .wrapper {
        background-color :transparent!important;
    }
    
    .over-flow {
        height: unset !important;
        overflow-y: unset !important;
    }

 }
